// assets/scss/_variables.scss

// Colori
$primary: #007bff; // Blu
$secondary: #6c757d; // Grigio
$dark: #343a40; // Scuro per navbar e footer
$light: #f8f9fa; // Chiaro per sfondi
$white: #fff;
$success: #28a745;
$danger: #dc3545;

// Spaziatura
$spacer: 1rem; // 16px

// Font
$font-family-sans-serif: 'Montserrat', sans-serif;

// Bordo per foto
$profile-photo-border-width: 4px;